<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express + HBS!</title>
</head>
<body>
    <h4>Tecnologias baseadas no NodeJS:</h4>
    {{{listTechnologies technologies}}}
</body>
</html>