* {
  box-sizing: border-box;
}

html {
  font:
    1.2em/1.4 Arial,
    Helvetica,
    sans-serif;
}

body {
  padding: 0 0 1em;
}

header {
  background-color: #333;
  color: #fff;
  border: 5px solid #000;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  border-top: 1px solid #999;
}

header .title {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  padding: 1em;
}

main {
  padding: 0 1em;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 5px solid #000;
  margin-bottom: 1em;
}

.cards h2 {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
}

.cards .inner {
  padding: 0.5em 1em;
}

.sidebar {
  background-color: #333;
  border: 5px solid #000;
  padding: 0.5em 1em;
  color: #fff;
}

@media screen and (min-width: 1024px){
    header {
        background-color: #333;
        color: #fff;
        border: 5px solid #000;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
      
    nav ul {
          list-style-type: none; /* Remove os marcadores de lista */
          margin: 0;
          padding: 0;
          display: flex; /* Define o layout dos itens da lista como flexível */
    }
      
    header a {
        border-top: 0px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
        "item1 item1 item1 item1 item1 item2 item2"
        ;
    }

    article {
        grid-area: item1;
    }

    aside {
        grid-area: item2;
        margin: 14px;
    }
    
    .cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: auto;
        gap: 12px;
    }


}